manifest {
  author = 'John Palmer'
  name = 'BCCDC-PHL/roary-nf'
  version = '0.1.0'
  description = 'BCCDC-PHL Roary Pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  outdir = 'results'
  gff_path = 'NO_FILE'
  samplesheet_input = 'NO_FILE'
  // Roary parameters
  min_identity = 95
  core_def_percentage = 99
  core_alignment = false
  fast_core_alignment = false
}

// Process resource defaults
process {
    cpus = 1
    memory = '4 GB'
    time = '2h'
}



profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}
